*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 1800px;
    background-color: antiquewhite;
    height: 100vh;
    margin: auto;
}
/* navbar */

.navbar{
    display: flex;
    gap: 10px;
    padding: 10px;

}
.logo{
    width:30% ;
    height: 100px;
    background-color: brown;
}
.menu{
    width:70% ;
        height: 100px;

    background-color: rgb(143, 95, 95);
}

@media (max-width:767px) {
    .container{
            width: 767px;

    }
    .navbar{
width: 760px;

}
}


/* header */

.row2{
    display: flex;
    gap: 10px;

}
.header{
    width: 70%;
    height: 100px;
    background-color: blueviolet;
}
.ads{
    width: 30%;
    height: 700px;
    background-color: rgb(149, 114, 183);
}

@media (max-width:480px) {

    .row2{
        flex-direction: column;

    }
   .ads,.header{
    height: 100px;
    width: 100%;
    gap: 10px;
   }



}