@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@font-face {
  font-family: 'RobotoLocal';
  src: url('Montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansLocal';
  src: url('fonts/Open_Sans/OpenSans-Italic-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
.second{
  display: flex;
  flex-wrap: wrap;
   justify-content: center;
  gap: 40px;
  padding: 20px;
}

* {
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

h4{
  font-size: medium;
  font-family:'Times New Roman', Times, serif;
  font-size: large;
  

}
.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
  padding: 20px;
}

.container {
  height: 370px;
  width: 210px;
  box-shadow: 4px 4px 10px gray;
  border-radius: 20px;
  text-align: center;
  color: black;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Cards */
.card1 {
  background: #bee3e9;
}

.card2 {
  font-family: "Roboto", sans-serif;
  background: #facdb2;
}

.card3 {
  background: #d8e9ca;
}

.card4 {
  font-family: "Playfair Display", serif;
  background: #d3ceea;
}

.card5 {
  font-family: Arial, Helvetica, sans-serif;
  background: #dbdcdc;
}

.card6 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #fce9b1;
}
