*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/*======================= top category========================== */
.topcategoriy{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5%;
}
.categoryhead{
   display: flex;
   justify-content: center;
   font-weight: 700;
   font-size: 50px;
   margin-top: 2rem;
   margin-bottom: 2rem;

}
.card {
  background: #f5f5f5;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  height: 200px;
  width: 300px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

  
}
.card:hover{
  border: 2px solid gold;
}
.card-container {
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}
.items{
  height: 15%;
  width: 15%;
  border-radius: 50%;


}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

/* Tablet (≥ 768px) */
@media (min-width: 768px) {
  /* topcategory */
  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop (≥ 1024px) */
@media (min-width: 1024px) {
  /* topcategory */
  .card-container {
    grid-template-columns: repeat(4, 1fr);
  }  





}

/* ===================================our items============================= */
.itemtext div{
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color:greenyellow;
  display: flex;
  justify-content: center;
  align-items: center;
  

}

.itemtext div:hover{
  border: 2px solid gold;
}
.itemtext{
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 500px;


}
.items{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.itemtext p{
  font-weight: 700;
  font-size: 2rem;
}

.box-wrapper {
  display: grid;
  grid-template-columns: 1fr; /* Mobile default */
  gap: 16px;
  padding: 16px;
  display: flex;
  align-items: center;
}
.box-item .items{
 height: 100px;
 width: 200px;
 border-radius: 0%;
}
.box-item {
  background:white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
  height: 200px;
   box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

/* Tablet (≥ 768px) */
@media (min-width: 768px) {
  .box-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Desktop (≥ 1024px) */
@media (min-width: 1024px) {
  .box-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}
/* ========================newsletter =========================*/

/* 
  .newsletter{
    width: 100vw;
min-height: 300px;
    background-color: yellow;
    display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    margin: 0 auto;

  } */
  
.newsletter {
  background: #0D1F16;
background: linear-gradient(90deg, rgba(13, 31, 22, 1) 0%, rgba(29, 49, 40, 1) 32%, rgba(31, 51, 42, 1) 69%, rgba(55, 125, 93, 1) 100%);
  min-height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
margin-bottom: 20px;
border-radius: 10px;
}
.newscontainer{

  max-width: 1024px;
  margin: auto;

}
.newsletter h2{
    color:  #ff7857;
}

input{
    width:20rem;
    height: 50px;
    border-radius: 5px;
    border: 1px solid white;
padding-left:20px ;}

.newsletter-text{
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;

}
label  button{
  height: 50px;
  width: 140px;
  border :none;
  border-radius: 5px;
  background-color: #377D5D;
  color: #f5f5f5;
}
 label{
  display: flex;
 }






/*================ footer==========================*/
footer{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0;
    text-decoration: none;
    margin: auto;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    background-color:rgba(250, 250, 250);
   max-width: 100vw;
    margin: auto;
}



footer>ul{
    list-style: none;

}
footer ul {
    list-style: none;
}

footer li {
    margin-bottom: 6px;
    line-height: 1.6;
 } 



/* Mobile view */
@media (max-width: 600px) {
  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  footer ul {
    padding: 0;
  }

  footer li {
    margin-bottom: 8px;
  }

  footer h3 {
    margin-bottom: 10px;
  }

  .logo img {
    width: 120px;
  }
}
